.titulo {
  color: red;
}

.produtos {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
}

.produtos p {
  color: black;
}

.produtos:hover {
  max-width: 310px;
  color: red
}

.produtos p:hover{
  color: chartreuse;
}

.img {
  max-width:50%;
}

