.animais {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    flex-wrap: wrap;
}
.animais p {
    color: red;
    background-color: aquamarine; 
}

.animais:hover {
    max-width: 310px;
}
.animais p:hover{
    color: bisque;
}
